{% extends "base.html" %}

{% block main_content %}
<section id="dioxazine">
    <h2>The Dioxazine Collection</h2>
    <ul>
        <li class="button"><a href="{{url_for('shop')}}">View This Collection</a>
    </ul>
</section>

<section id="cayenne">
    <h2>The Cayenne Collection</h2>
    <ul>
        <li class="button"><a href="{{url_for('shop')}}">View This Collection</a>
    </ul>
</section>
<section id="tosca">
    <h2>The Tosca Collection</h2>
    <ul>
        <li class="button"><a href="{{url_for('shop')}}">View This Collection</a>
    </ul>
</section>
<section id="affogato">
    <h2>The Affogato Collection</h2>
    <ul>
        <li class="button"><a href="{{url_for('shop')}}">View This Collection</a>
    </ul>
</section>
<section id="jazzberry">
    <h2>The Jazzberry Collection</h2>
    <ul>
        <li class="button"><a href="{{url_for('shop')}}">View This Collection</a>
    </ul>
</section>
<section id="atomiser">
    <h2>The Atomiser Collection</h2>
    <ul>
        <li class="button"><a href="{{url_for('shop')}}">View This Collection</a>
    </ul>
</section>
<section id="cabaret">
    <h2>The Cabaret Collection</h2>
    <ul>
        <li class="button"><a href="{{url_for('shop')}}">View This Collection</a>
    </ul>
</section>
<section id="rosequartz">
    <h2>The Rose Quartz Collection</h2>
    <ul>
        <li class="button"><a href="{{url_for('shop')}}">View This Collection</a>
    </ul>
</section>
{% endblock %}